.AddPage{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 180px 0 140px 0;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}
.Content-Text{
    font-size: 50px;
    color: white;
}
.Content-NameModel{
    margin: 40px 0 0 0;
}
.Content-AddModel{
    margin: 20px 0 0 0;
}
.NameModel1{
    width: 400px;
    height: 50px;
    padding: 2px;
    border-radius:10px;
    font-family:inherit;
    font-size: 25px;
    color: black;
    background-color: white;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-6 {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 20px;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  .input__file{
    margin: 0px auto;
    text-align: center;
  }
  .input__file input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
  .input__file .label{
    width:160px;
    border:2px dashed grey;
    border-radius:5px;
    display:inline-block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center
}
  .input__file ,.input__file .label .title{
    color: grey;
    transition:200ms color;
}
  .input__file .label:hover{
    border:2px solid #000
}
  .input__file .label:hover i,.input__file .label:hover .title{
    color:#000;
}
.input__file .title{
    font-size: 20px
}

